@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --border-color: rgb(236, 233, 233);
    --border-color2: rgb(218, 216, 216);
    --primary-color: black;
    --primary-color-light: #F6F5FF;
    --completed-color: green;
    --completed-background: rgb(194, 255, 194);;
    --pending-color: rgb(243, 175, 49);
    --pending-background: rgb(245, 212, 151);
    --canceled-color: red;
    --canceled-background: rgb(238, 188, 188);
    --toggle-color: #DDD;
    --text-color: #707070;
    --black-color: black;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.4s ease;
}

body {
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-04);
}

body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--sidebar-color);
    padding: 10px 14px;
    transition: var(--tran-05);
    z-index: 100;
}
.sidebar.close {
    width: 100px;
}
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}
.sidebar .image {
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    font-size: 20px;
    min-width: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sidebar li .icon, .sidebar li .text {
    color: var( --text-color);
    transition: var(--tran-02);
}
.sidebar header {
    position: relative;
}

.sidebar .image-text .image img{
    width: 90px;
    border-radius: 12px;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 500;
    font-size: 20px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    color: var(--sidebar-color);
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}
body.dark .sidebar header .toggle
{
    color: var(--text-color);
}
.sidebar .menu {
    margin-top: 35px;
}
.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}
.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
    font-size: 16px;
    font-weight: 500;
}
.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
}
.sidebar li a:hover .icon, .sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}
.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
    
}
.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
    transition: var(--tran-05);
}
.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before {
    left: 25px;
}
.home {
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 100px);
    background: var(--body-color);
    transition: var(--tran-05);
}
.home .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid var(--border-color2);
}
.sidebar.close ~ .home {
    left: 100px;
    width: calc(100% - 100px);
}
.main-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container {
    width: 100%;
    height: 110px;
    display: grid;
    grid-template-columns: 330px 330px 330px;;
    grid-column-gap: 2%;
}
.inner-contain {
    height: 90%;
    border: 1px solid var( --border-color);
    background: var(--sidebar-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.inner-contain .text1 {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}
.inner-contain .sp-text {
    display: flex;
    justify-content: space-between;
    color: black;

}
.inner-contain .text2 {
    font-size: 17px;
    font-weight: 500;
}
.inner-contain .text3 {
    color: green;
    font-size: 14px;
}
.container2 {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 2%;

}
.container2 .transactions {
    border: 1px solid var( --border-color);
    background: var(--sidebar-color);
    padding: 20px;
    border-radius: 7px;
}
.container2 .transactions .sub-head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.container2 .transactions .sub-head .txt1 {
    font-weight: bold;
    color: var(--black-color);
    font-size: 16px;
}
.container2 .transactions .sub-head .txt2 a{
    text-decoration: none;
    color: orange;
    font-size: 14px;
}
.container2 .the-customers {
    border: 1px solid var( --border-color) ;
    border-radius: 7px;
    background: var(--sidebar-color);
    padding: 20px;
}
.container2 .the-customers .txt4 {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 20px;
}

.container2 .the-customers .customer-info {
    display: grid;
    width: 100%;
    grid-template-columns: 6fr 1fr;
    grid-column-gap: 13%;
    font-size: 14px;
}
.container2 .the-customers .customer-info .info1 .email {
    font-size: 12px;
    color: var(--text-color);
}
.container2 .the-customers .customer-info .info1 .name {
    color: var(--black-color);
}
.comp-transaction {
    width: 100%;
    display: block;
}
.comp {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2%;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0px 1px 3px rgb(231, 230, 230);
    padding: 15px 0;
    border-radius: 6px;
}
.comp:hover {
    transition: var(--tran-04);
    cursor: pointer;
}
.comp .status .outer-span{
    display: flex;
    color: green;
    margin: 0;
    padding:0;
    font-size: 12px;
    justify-content: center;
    width: 125px;
    background: var(--completed-background);
    align-items: center;
    height: 26px;
    border-radius: 17px;
    margin-left: 3px;
}
.comp .status .outer-span .inner-span {
    margin-right: 10px;
    width: 8px;
    height: 8px;
    background: var(--completed-color);
    border-radius: 50%;
}
.comp .payment-type span {
    display: block;
}
.comp .payment-type .type {
    color: var(--black-color);
    font-weight: bold;
    font-size: 14px;
}

.comp .payment-type .type2 {
    font-size: 12px;
}
.comp .amount-date span {
    display:block;
}
.comp .amount-date .amount {
    color: var(--black-color);
    font-weight: bold;
    font-size: 14px;
} 
.comp .amount-date .date {
    font-size: 12px;
}
.comp .item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-right: 5px;
}
.comp .item .dots {
    font-size: 20px;
    font-weight: bold;
}