@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: myFont;
    src: url(Quesha.ttf);
}

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --border-color: rgb(236, 233, 233);
    --border-color2: rgb(218, 216, 216);
    --primary-color: black;
    --primary-color-light: #F6F5FF;
    --completed-color: green;
    --completed-background: rgb(194, 255, 194);;
    --pending-color: rgb(243, 175, 49);
    --pending-background: rgb(245, 212, 151);
    --canceled-color: red;
    --canceled-background: rgb(238, 188, 188);
    --toggle-color: #DDD;
    --text-color: #707070;
    --black-color: black;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.4s ease;
}

body {
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-04);
    width: 100vw;
}

body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--sidebar-color);
    padding: 10px 14px;
    transition: var(--tran-05);
    z-index: 100;
}
.sidebar.close {
    width: 100px;
}
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}
.sidebar .image {
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    font-size: 20px;
    min-width: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sidebar li .icon, .sidebar li .text {
    color: var( --text-color);
    transition: var(--tran-02);
}
.sidebar header {
    position: relative;
}

.sidebar .image-text .image img{
    width: 90px;
    border-radius: 12px;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 500;
    font-size: 20px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    color: var(--sidebar-color);
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}
body.dark .sidebar header .toggle
{
    color: var(--text-color);
}
.sidebar .menu {
    margin-top: 35px;
}
.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}
.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
    font-size: 16px;
    font-weight: 500;
}
.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
}
.sidebar li a:hover .icon, .sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}
.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
    
}
.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
    transition: var(--tran-05);
}
.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before {
    left: 25px;
}
.home {
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100vw - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}
.home .text {
    font-size: 25px;
    font-weight: 500;
    color: var(--black-color);
    padding: 10px 35px;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid var(--border-color2);
}
.sidebar.close ~ .home {
    left: 100px;
    width: calc(100% - 100px);
    max-width: calc(100% - 100px);
}
.main {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px 20px;
    margin: 20px  10px;
    background: var(--sidebar-color);
    grid-column-gap: 1%;
}
.main span {
    white-space: nowrap;
}
.main .customer-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main .customer-name .customer-colon {
    padding-top: 7px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.main .customer-name .customer-colon input {
     width: 14px;
     margin-right: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Style the custom checkbox */
.main .customer-name .customer-colon input[type="checkbox"] {
    position: relative;
    cursor: pointer;
}

.main .customer-name .customer-colon input[type="checkbox"]::before {
    content: '';
    position: absolute;
    left: 0;
    top: -3px;
    width: 14px;
    height: 14px;
    border: 2px solid rgb(199, 195, 195); /* Change the border color and size as needed */
    background-color: #fff;
    border-radius: 5px;
}
.main .customer-name .customer-colon .customer-lane{
    font-size: 15px;
    color: var(--black-color);
    font-weight: 600;
    margin-right: 7px;
} 
.main .customer-name .customer-colon .arrow-up {
    font-size: 20px;
    text-align: center;
}
.main .customer-name .customer-main3 {
    display: flex;
    padding: 0;
    margin: 0;
}

.main .customer-name .customer-main3 .the-check2 {
    display: block;
    width: 15%;
    padding: 0;
    padding-right: 30px;
}
.main .customer-name .customer-main3 .the-check2 input {
    width: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main .customer-name .customer-main3 .the-check2 input[type="checkbox"]{
    position: relative;
    cursor: pointer;
}

.main .customer-name .customer-main3 .the-check2 input[type="checkbox"]::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    width: 14px;
    height: 14px;
    border: 2px solid rgb(199, 195, 195); /* Change the border color and size as needed */
    background-color: #fff;
    border-radius: 5px;
}
.main .customer-name .customer-main3 .custname {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.main .customer-name .customer-main3 .custname .cust-name1 {
    font-size: 14px;
    color: var(--black-color);
    font-weight: 500;
    white-space: nowrap;
}
.main .customer-name .customer-main3 .custname .cust-email {
    font-size: 20px;
    color: var(--text-color);
    font-family: myFont;
}
.main .order-date,
.main .payment-date,
.main .quantity,
.main .order-details,
.main .order-price,
.main .total-price {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main .order-date .date-colon ,
.main .payment-date .date-colon,
.main .quantity .date-colon,
.main .order-details .product-name,
.main .order-price .product-price,
.main .total-price .product-price{
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 20px;
}
.main .order-date .date-colon .label-date,
.main .payment-date .date-colon .label-date,
.main .quantity .date-colon .label-date,
.main .order-details .product-name .product,
.main .order-price .product-price .price,
.main .total-price .product-price .price {
    font-size: 15px;
    color: var(--black-color);
    font-weight: 600;
    margin-right: 7px;
}

.main .order-date .date-colon .arrow-up,
.main .payment-date .date-colon .arrow-up,
.main .quantity .date-colon .arrow-up,
.main .order-details .product-name .arrow-up,
.main .order-price .product-price .arrow-up,
.main .total-price .product-price .arrow-up  {
    font-size: 20px;
    text-align: center;
    color: var(--black-color);
}
.main .order-date .real-date,
.main .payment-date .real-date,
.main .quantity .real-date,
.main .order-details .real-product,
.main .order-price .real-price,
.main .total-price .real-price  {
    display: flex;
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-weight: 500;
    color: var(--text-color);
}
.main .payment-status {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main .payment-status .status-colon {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 20px;
}
.main .payment-status .status-colon .label-status {
    font-size: 15px;
    color: var(--black-color);
    font-weight: 600;
    margin-right: 7px;
}

.main .payment-status .status-colon .arrow-up {
    font-size: 20px;
    text-align: center;
    color: var(--black-color);
}
.main .payment-status .real-status {
    display: flex;
    padding: 0;
    margin: 0;
    font-weight: 500;
    color: var(--text-color);
}
.main .payment-status .real-status .span-status {
    font-size: 14px;
    background: rgb(248, 248, 248);
    padding: 3px 5px;
    color: #22f58c;
    border-radius: 12px;
}