@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: myFont;
    src: url(Quesha.ttf);
}

@font-face {
    font-family: myFont2;
    src: url(Romana/Romana.ttf);
}
html {
    font-size: 16px;
    color: black;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: white;
    position: relative;
}
header {
    position: fixed;
    top: 0;
    height: 50px;
    margin-top: 0;
    width: 100%;
    transition: 0.3s;
    background: white;
    z-index: 1000;
}
header .header-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}
header .header-container .shipping-sales{
    font-size: 10px;
    display: flex;
    align-items: center;
}
.the-headers .header-container .Business-name {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
header .header-container .Business-name .head-cont {
    font-family: myFont;
    font-size: 40px;
}
header .header-container .user-nav {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    align-items: flex-end;
}
header .header-container .user-nav span {
    padding-right: 20px;
}
.categories {
    position: fixed;
    top: 50px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background: white;
    z-index: 1000;
}
.categories .categories-name, .categories .categories-name1 {
    margin-right: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}
.categories .categories-name1 {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding:6px 5px 6px 5px;
}
.categories .categories-name:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding:6px 5px 6px 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.categories .categories-name1:hover {
    margin-left: 8px;
    transition: all 0.5s ease;
    cursor: pointer;
}



.cat-name {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: flex-end;
    margin-top: 110px;
    background: white;
}
.cat-name .goods-category {
    padding-left: 10px;
    font-family: myFont2;
    font-size: 30px;
}


.main {
    width: 100%;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-column-gap: 2px;
    justify-content: center;
    margin-top: 10px;
    background: white;
    margin: 20px auto;
}
.main .pics-description {
    width: 85%;
    display: block;
    margin: 20px 0;
    z-index: 0;
    cursor: pointer;
    transition: all 0.2s ease;
}
.main .pics-description .images {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    height: 350px;
}
.main .pics-description .images .images2 {
    width: 100%;
    height: 100%;
}
.main .pics-description .images img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 500px;
    border-radius: 2px;
}
.main .pics-description .images .loading {
    position: absolute;
    background: white;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    font-size: 30px;
}
.main .pics-description .images .loading img {
    width: 60%;
    height: 60%;
    background-repeat: no-repeat;
}
.description span {
    display: block;
    font-size: 14px;
    font-family: myFont2;
    padding-bottom: 4px;
}
.description .brandname {
    font-weight: 600;
}
.pics-description:hover {
    background-color: white;
    transform: scale(1.10);
    border: 1px solid rgb(247, 247, 247);
    box-shadow: 5px 5px 5px rgb(231, 230, 230);
    padding: 0px 10px;
}
.footer {
    background: black;
    width: 100%;
    padding: 50px 0;
}
.footer .footer-container {
    max-width: 1170px;
    height: 100%;
    margin: auto;
    background: black;
}
ul {
    list-style: none;
}
.footer .footer-container  .footer-row {
    display: flex;
    flex-wrap: wrap;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white ;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 14px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight:300;
    color: #bbbbbb;
    display: flex;
    transition: all 0.3s ease;
    align-items: center;
}
.footer-col ul li a:hover {
    cursor: pointer;
    padding-left: 8px;
}
.footer-col ul li  i {
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    color: white;
    transition: all 0.5s ease;

}
.footer-col ul li  i:hover {
    color: #24262b;
    background-color: #ffffff;
}

