<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoppers - Homepage</title>
    <meta name="description" content="Shoppers is an online store for men">
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <link rel="icon" type="image/png" href="./favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://www.flaticon.com/free-icons/others" >
    <link href='../static/styles/store.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="../static/styles/selected.css">
</head>
<body>
    <div id="main-content">
    {% block content %} 
    {% endblock content %} 
    </div> 
    
    <script src="../static/Scripts/2-store.js"></script>
    <script src="../static/Scripts/1-selected.js"></script> 
</body>
</html>
