<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoppers - Homepage</title>
    <meta name="description" content="Shoppers is an online store for men">
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <link rel="icon" type="image/png" href="./favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://www.flaticon.com/free-icons/others" >
    <link href='../static/styles/store.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="../static/styles/checkout.css">
    <link rel="stylesheet" href="../static/styles/selected.css">
</head>
<body>
    <div id="main-content">
    {% block content %} 
    {% endblock content %} 
    </div> 
    
    <script src="../static/Scripts/2-store.js"></script>
    <script src="../static/Scripts/1-selected.js"></script>
    <script type="text/javascript">

        function getCookie(name) {
            //split cookie string and get all individual name=value pairs in an array
            let cookieArr = document.cookie.split(";");

            //loop through he array elements
            for(let i = 0; i < cookieArr.length; i++) {
                let cookiePair = cookieArr[i].split("=");

                /* Removing whitespace at the begnning of the cookie name and compare it with the given string */
                if(name == cookiePair[0].trim()) {
                    //Decode the cookie value and return
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            // Return null if not found
            return null;
        }

        let cart = JSON.parse(getCookie('cart'))
        if(cart == undefined) {
            cart = {}
            console.log('Cart was created!')
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain;path=/"
        }
        console.log('cart', cart);
        
    </script> 
</body>
</html>
