<!DOCTYPE html>
<html lan="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shoppers - Choice</title>
        <meta name="description" content="Shoppers is an online store for men">
        <link rel="icon" type="image/x-icon" href="./favicon.ico">
        <link rel="icon" type="image/png" href="./favicon.png">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="../static/styles/selected.css">
    </head>
    <body>
        <header class="head-bar">
            <nav class="nav-bar">
                <span class="business-name">shoppers</span>
                <div class="details">
                    <div class="cart">
                        <span class="envelope">
                            <i class='bx bx-envelope'></i>
                        </span>
                        <span class="cart-text">
                            Cart
                        </span>
                        <div class="cart-update">
                            <span class=cart-updates>4</span>
                        </div>
                    </div>
                    <div class="favorites">
                        <span class="fclass">
                            <i class='bx bx-heart'></i>
                        </span>
                        <span class="fav-text">
                            Favorites
                        </span>
                    </div>
                    <div class="image">
                        <span class="i-image"><i class='bx bxs-user-circle'></i></span>
                    </div>
                </div>
            </nav>
            <div class="category">
                <span class="v-category1">Men</span>
                <span class="v-category">Sports</span>
                <span class="v-category">Brands</span>
                <span class="v-category">New</span>
                <span class="v-category active">Sale</span>
            </div>
        </header>
        <div class="product-info" productId="{{ selectedItem.id }}">
            <div class="product-pics">
                {% set product_images = all_images|selectattr('product_id', 'equalto', selectedItem.id)|list %}
                {% set product_image = product_images|first %}
                {% if product_image %}
                <div class="largeview">
                    <img src="{{  product_image.image_filename|replace('store', '..') }}">
                </div>
                {% endif %}
                <div class="small-view">
                    {% for images in all_images %}
                    <div class="small-1 {% if loop.index == 1 %}active{% endif %}">
                        <img src="{{ images.image_filename|replace('store', '..') }}">
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
            <div class="info">
                <div class="brandname"><span class="brand">{{ selectedItem.BrandName }}</span></div>
                <div class="product-desc">{{ selectedItem.productDescription }}</div>
                <div class="price">&#8358;{{ selectedItem.productPrice }}</div>
                <div class="product-color">
                    <span class="col1 active">Color</span>
                    <span class="col1">&#x2022;</span> 
                    <span class="col1">{{ selectedItem.productColor }}</span>
                </div>
                <div class="size">
                    <div class="size-name">
                        <span class="col2 active">Size</span>
                        <span class="col2">&#x2022;</span> 
                        <span class="col2">{{ selectedItem.productMeasurement }}</span>
                    </div>
                    {% if selectedItem and selectedItem.productSize %}
                    {% set size_list = selectedItem.productSize .split(',') %}
                    <div class="size-btn">
                        {% for size in size_list %}
                        <div class="size-button">{{ size }}</div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>No size information available for this product.</p>
                    {% endif %}

                    <span class="size-info">Size guide</span>
                </div>
                <div class="add-cart">
                    <div class="add-btn">
                        <div class="add-cart-btn"><i class='bx bx-shopping-bag'></i> Add to cart</div>
                        <div class="favit"><i class='bx bx-heart'></i></div>
                    </div>
                    <div class="delivery-info">
                        <span class="del-info"><i class='bx bxs-truck'></i> Free delivery on orders over &#8358;50000.0</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>