<!DOCTYPE html>
<html lan="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles/selected.css">
        <title>Shoppers Home</title>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <header class="head-bar">
            <nav class="nav-bar">
                <span class="business-name">shoppers</span>
                <div class="details">
                    <div class="cart">
                        <span class="envelope">
                            <i class='bx bx-envelope'></i>
                        </span>
                        <span class="cart-text">
                            Cart
                        </span>
                        <div class="cart-update">
                            4
                        </div>
                    </div>
                    <div class="favorites">
                        <span class="fclass">
                            <i class='bx bx-heart'></i>
                        </span>
                        <span class="fav-text">
                            Favorites
                        </span>
                    </div>
                    <div class="image">
                        <span class="i-image"><i class='bx bxs-user-circle'></i></span>
                    </div>
                </div>
            </nav>
            <div class="category">

            </div>
        </header>
    </body>
</html>