<!DOCTYPE html>
<html lan="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles/selected.css">
        <title>Shoppers Home</title>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <header class="head-bar">
            <nav class="nav-bar">
                <span class="business-name">shoppers</span>
                <div class="details">
                    <div class="cart">
                        <span class="envelope">
                            <i class='bx bx-envelope'></i>
                        </span>
                        <span class="cart-text">
                            Cart
                        </span>
                        <div class="cart-update">
                            <span class=cart-updates>4</span>
                        </div>
                    </div>
                    <div class="favorites">
                        <span class="fclass">
                            <i class='bx bx-heart'></i>
                        </span>
                        <span class="fav-text">
                            Favorites
                        </span>
                    </div>
                    <div class="image">
                        <span class="i-image"><i class='bx bxs-user-circle'></i></span>
                    </div>
                </div>
            </nav>
            <div class="category">
                <span class="v-category1">Men</span>
                <span class="v-category">Sports</span>
                <span class="v-category">Brands</span>
                <span class="v-category">New</span>
                <span class="v-category active">Sale</span>
            </div>
        </header>
        <div class="product-info">
            <div class="product-pics">
                <div class="largeview">
                    <img src="../static/images/bracelet.jpg">
                </div>
                <div class="small-view">
                    <div class="small-1 active"><img src="../static/images/bracelet.jpg"></div>
                    <div class="small-1"><img src="../static/images/bracelet2.jpg"></div>
                    <div class="small-1"><img src="../static/images/bracelet3.jpg"></div>
                    <div class="small-1"><img src="../static/images/bracelet5.jpg"></div>
                    <div class="small-1"><img src="../static/images/bracelet.jpg"></div>
                </div>
            </div>
            <div class="info">
                <p>the boy is good apa lon jebe, i came i saw and i conquer</p>
            </div>
        </div>
    </body>
</html>