<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/seller_dashboard.css">
    <title>Shoppers Dashboard</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
    <body>
        <nav class="sidebar close">
            <header>
                <div class="image-text">
                    <span class="image">
                        <img src="../static/images/main-logo.jpg" alt="logo">
                    </span>
                    <div class="text header-text">
                        <span class="name">Shop Hub</span>
                    </div>
                </div> 
                <i class='bx bx-chevron-right toggle'></i>           
            </header>
            <div class="menu-bar">
                <div class="menu">
                    <li class="search-box">
                            <i class='bx bx-search icon'></i>
                            <input type="search" placeholder="Search..">
                    </li>
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="/seller_dashboard">
                                <i class='bx bx-analyse icon'></i>
                                <span class="text nav-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="/seller_orders">
                                <i class='bx bx-cart-alt icon'></i>
                                <span class="text nav-text">Orders</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="/seller_customer">
                                <i class='bx bx-group icon'></i>
                                <span class="text nav-text">Customers</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="/seller_uploads">
                                <i class='bx bx-objects-horizontal-left icon'></i>
                                <span class="text nav-text">Activites</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bottom-content">
                    <li class="">
                        <a href="/seller_logout">
                            <i class='bx bx-log-out icon'></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>
                    <li class="mode">
                        <div class="moon-sun">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Dark Mode</span>
                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>
                </div>
            </div>
        </nav>

        <section class="home">
            <div class="text">Dashboard</div>
            <div class="main-container">
                <div class="container">
                    <div class="inner-contain">
                        <span class="text1">TODAY'S SALE</span>
                        <div class="sp-text">
                            <span class="text2">&#8358;33,426</span>
                            <span class="text3">+36%</span>
                        </div>
                    </div>
                    <div class="inner-contain">
                        <span class="text1">TOTAL'S SALE</span>
                        <div class="sp-text">
                            <span class="text2">&#8358;12,426</span>
                            <span class="text3">+36%</span>
                        </div>
                    </div>
                    <div class="inner-contain">
                        <span class="text1">TOTAL ORDERS</span>
                        <div class="sp-text">
                            <span class="text2">8,395</span>
                            <span class="text3">+36%</span>
                        </div>
                    </div>
                </div>
                <div class="container2">
                    <div class="transactions">
                        <div class="sub-head">
                            <span class="txt1">Transactions</span>
                            <span class="txt2"><a href="#">See All Transactions</a></span>
                        </div>
                        <div class="comp-transaction">
                            <div class="comp">
                                <div class="status">
                                <span class="outer-span"><div class="inner-span"></div>Completed</span>
                                </div>
                                <div class="payment-type">
                                    <span class="type">Visa card</span>
                                    <span class="type2">card payment</span>
                                </div>
                                <div class="amount-date">
                                    <span class="amount">&#8358;11,246</span>
                                    <span class="date">Jan 17, 2023</span>
                                </div>
                                <div class="item">
                                    <span class="items">Louis Vuitton</span>
                                    <span class="dots"><i class='bx bx-dots-horizontal-rounded'></i></span>
                                </div>
                            </div>
                            <div class="comp">
                                <div class="status">
                                <span class="outer-span"><div class="inner-span"></div>Completed</span>
                                </div>
                                <div class="payment-type">
                                    <span class="type">Visa card</span>
                                    <span class="type2">card payment</span>
                                </div>
                                <div class="amount-date">
                                    <span class="amount">&#8358;11,246</span>
                                    <span class="date">Jan 17, 2023</span>
                                </div>
                                <div class="item">
                                    <span class="items">Louis Vuitton</span>
                                    <span class="dots"><i class='bx bx-dots-horizontal-rounded'></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="the-customers">
                        <div class="txt4">
                            <span class="sp-1">Recent Customers</span>
                        </div>
                        <div class="customer-info">
                            <div class="info1">
                                <span class="name">Thomas wellington</span>
                                <span class="email">thomaswellington@gmail.com</span>
                            </div>
                            <div class="info-amount">
                                <span class="amount-info">&#8358;11,246</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="../static/Scripts/1s-dashboard.js"></script> 
    </body>
</html>