<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/home.css">
    <title>Shoppers Home</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <body>
        <div class="main">
            <div class="description">
                <span>Shop Hub</span>
            </div>
            <div class="contain">
                <div class="sign-in"><a href="/seller_login">Sign in</a></div>
                <div class="sign-up"><a href="/seller_sign-up">Sign up</a></div>
            </div>
        </div>
    </body>
</html>