<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/sellers_orders.css">
    <title>Shoppers Orders</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
    <body>
        <nav class="sidebar close">
            <header>
                <div class="image-text">
                    <span class="image">
                        <img src="../static/images/main-logo.jpg" alt="logo">
                    </span>
                    <div class="text header-text">
                        <span class="name">Shop Hub</span>
                    </div>
                </div> 
                <i class='bx bx-chevron-right toggle'></i>           
            </header>
            <div class="menu-bar">
                <div class="menu">
                    <li class="search-box">
                            <i class='bx bx-search icon'></i>
                            <input type="search" placeholder="Search..">
                    </li>
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="/dashboard">
                                <i class='bx bx-analyse icon'></i>
                                <span class="text nav-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="/dashboard">
                                <i class='bx bx-cart-alt icon'></i>
                                <span class="text nav-text">Orders</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="/dashboard">
                                <i class='bx bx-group icon'></i>
                                <span class="text nav-text">Customers</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="/dashboard">
                                <i class='bx bx-objects-horizontal-left icon'></i>
                                <span class="text nav-text">Activites</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bottom-content">
                    <li class="">
                        <a href="#">
                            <i class='bx bx-log-out icon'></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>
                    <li class="mode">
                        <div class="moon-sun">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Dark Mode</span>
                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>
                </div>
            </div>
        </nav>
        <section class="home">
            <div class="text">Orders</div>
            <div class="main">
                <div class="customer-name">
                    <div class="customer-colon">
                        <input type="checkbox" id="check1">
                        <span class="customer-lane">Customer</span>
                        <span class="arrow-up"><i class='bx bx-chevron-down'></i></span>
                    </div>
                    <div class="customer-main3">
                        <div class="the-check2"><input type="checkbox" id="check1"></div>
                        <div class="custname">
                            <span class="cust-name1">Thomas Wellington</span>
                            <span class="cust-email">thomaswellington@gmail.com</span>
                        </div>
                    </div>
                </div>
                <div class="payment-status">
                    <div class="status-colon">
                        <span class="label-status">Status</span>
                        <span class="arrow-up"><i class='bx bx-chevron-down'></i></span>
                    </div>
                    <div class="real-status">
                        <span class="span-status">Paid</span>
                    </div>
                </div>
                <div class="payment-date">
                    <div class="date-colon">
                        <span class="label-date">Payment Date</span>
                        <span class="arrow-up"><i class='bx bx-chevron-down'></i></span>
                    </div>
                    <div class="real-date">
                        <span class="span-date">Mar 27,2023</span>
                    </div>
                </div>
                <div class="quantity">
                    <div class="date-colon">
                        <span class="label-date">Quantity</span>
                        <span class="arrow-up"><i class='bx bx-chevron-down'></i></span>
                    </div>
                    <div class="real-date">
                        <span class="span-date">2Qty</span>
                    </div>
                </div>
                <div class="order-details">
                    <div class="product-name">
                        <span class="product">Product Name</span>
                        <span class="arrow-up"><i class='bx bx-chevron-down'></i></span>
                    </div>
                    <div class="real-product">
                        <span class="span-product">Louis Vuitton T-shirt</span>
                    </div>
                </div>
                <div class="order-date">
                    <div class="date-colon">
                        <span class="label-date">Size</span>
                        <span class="arrow-up"><i class='bx bx-chevron-down'></i></span>
                    </div>
                    <div class="real-date">
                        <span class="span-date">Mar 27,2023</span>
                    </div>
                </div>
                <div class="order-price">
                    <div class="product-price">
                        <span class="price">Price</span>
                        <span class="arrow-up"><i class='bx bx-chevron-down'></i></span>
                    </div>
                    <div class="real-price">
                        <span class="span-price">&#8358;11,246</span>
                    </div>
                </div>
                <div class="total-price">
                    <div class="product-price">
                        <span class="price">Total Price</span>
                        <span class="arrow-up"><i class='bx bx-chevron-down'></i></span>
                    </div>
                    <div class="real-price">
                        <span class="span-price">&#8358;11,246</span>
                    </div>
                </div>
            </div>
        </section>
        <script src="../static/Scripts/1s-dashboard.js"></script> 
    </body>
    </html>