<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/seller_dashboard.css">
    <title>Shoppers Dashboard</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
    <body>
        <nav class="sidebar">
            <header>
                <div class="image-text">
                    <span class="image">
                        <img src="../static/images/main-logo.jpg" alt="logo">
                    </span>
                    <div class="text header-text">
                        <span class="name">Shop Hub</span>
                    </div>
                </div> 
                <i class='bx bx-chevron-right toggle'></i>           
            </header>
            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="/dashboard">
                                <i class='bx bx-analyse'></i>
                                <span class="text nav-text">Dashboard</span>
                            </a>
                            </li>
        </nav>
    </body>
</html>