<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/sellers_uploads.css">
    <title>Shoppers Uploads</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
    <body>
        <nav class="sidebar close">
            <header>
                <div class="image-text">
                    <span class="image">
                        <img src="../static/images/main-logo.jpg" alt="logo">
                    </span>
                    <div class="text header-text">
                        <span class="name">Shop Hub</span>
                    </div>
                </div> 
                <i class='bx bx-chevron-right toggle'></i>           
            </header>
            <div class="menu-bar">
                <div class="menu">
                    <li class="search-box">
                            <i class='bx bx-search icon'></i>
                            <input type="search" placeholder="Search..">
                    </li>
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="/seller_dashboard">
                                <i class='bx bx-analyse icon'></i>
                                <span class="text nav-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="/seller_orders">
                                <i class='bx bx-cart-alt icon'></i>
                                <span class="text nav-text">Orders</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="/seller_customer">
                                <i class='bx bx-group icon'></i>
                                <span class="text nav-text">Customers</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="/seller_uploads">
                                <i class='bx bx-objects-horizontal-left icon'></i>
                                <span class="text nav-text">Activites</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bottom-content">
                    <li class="">
                        <a href="/seller_logout">
                            <i class='bx bx-log-out icon'></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>
                    <li class="mode">
                        <div class="moon-sun">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Dark Mode</span>
                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>
                </div>
            </div>
        </nav>
        <section class="home">
            <div class="main2">
            <form id="uploadForm" enctype="multipart/form-data" method="POST"  action="{{ url_for('seller_views.sellers_uploads') }}">
                <div class="main">
                <label for="productName">Brand Name</label>
                <input 
                type="text" 
                id="BrandName"
                name="BrandName" 
                class="the-control"
                />
                </div>
            
                <div class="main">
                    <label for="category">Choose a category:</label>
                    <select id="productCategory" name="productCategory" class="the-control" >
                        <option value="T-shirts">T-shirts</option>
                        <option value="Boots">Boots</option>
                        <option value="Men Native">Men Native</option>
                        <option value="Skin care">Skin care</option>
                        <!-- Add more options as needed -->
                    </select>
                    </div>
                <div class="main">
                <label for="productPrice">Product Price</label>
                <input 
                    type="number" 
                    step="0,01"
                    min="0"
                    id="productPrice" 
                    name="productPrice" 
                    class="the-control" 
                />
                </div>
            
                <div class="main">
                    <label for="productSize">Enter Product Sizes</label>
                    <input 
                        type="text" 
                        id="productSize" 
                        name="productSize" 
                        class="the-control" 
                    />
                    </div>
                <div class="main">
                <label for="productDescription">Product Description</label>
                <input 
                    type="text"
                    id="productDescription" 
                    name="productDescription" 
                    class="the-control" 
                />
                </div>
                <div class="main">
                <label for="productColor">Product Color</label>
                <input type="text"
                    id="productColor"
                    name="productColor" 
                    class="the-control"
                />
                </div>
            
                <div class="main">
                <label for="productImage">Product Image</label>
                <input type="file" 
                    id="productImage" 
                    name="productImage" 
                    accept="image/*" 
                    multiple
                    required
                    class="the-control"
                />
                </div>
            
                <button type="submit" class="primary-btn">Upload Product</button>
            </form>
        </div>
        </section>
        <script src="../static/Scripts/1s-dashboard.js"></script> 
    </body>
</html>
